<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        Email:<input type="text" name="email">
        Password:<input type="password" name="pw">
        <input type="submit" name="name" value="Login">
    </form>
    <h1>Registration</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div>
        <p>{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/register" method="post">
        First Name:<input type="text" name="first_name">
        Last Name:<input type="text" name="last_name">
        Email:<input type="text" name="email">
        Password:<input type="password" name="pw">
        Confirm Password:<input type="password" name="pw_confirmation">
        <input type="submit" name="name" value="Register">
    </form>
</body>
</html>