<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Great Number Game</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess</p>
    <form action='/guess' method='post'>
        <input type="text" name="guess"/><br/>
        <input type="submit" name="submit">
    </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
        {% endif %}
        {% endwith %}
    
</body>
</html>