<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">        
</head>
<body>
    <header>
        <h2>Welcome {{ user.name}}</h2>
        <p><a href="{% url 'review:add' %}">Add book and review</a> | <a href="{% url 'login:logout' %}">Logout</a></p>
       
    </header>
    <div class="main">
        <h2>Recent Book Reviews:</h2>
        {% for review in recent %}
        <div class="review">
            <h2><a href="/review/{{review.book.id}}">{{ review.book.title }}</a></h2>
            <p>Rating: {{ review.rating }}</p>
            <p><a href="/user/{{review.reviewer.id}}">{{ review.reviewer.name}}</a> says: {{ review.review }}</p>
            <p>Posted on: {{ review.created_at }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="side">
        <h2>Other Books with Reviews:</h2>
        {% for review in more %}
        <div class="review">
            <h2><a href="/review/{{review.book.id}}">{{ review.book.title }}</a></h2>
        </div>
        {% endfor %}
    </div>
</body>
</html>