<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form name="editarea" action='/friends/{{ person[0]['id'] }}' method="POST">
            First Name: <input type="text" name="first_name" id="first_name"></label>
            Last Name: <input type="text" name="last_name" id="last_name"></label>
            Email: <input type="text" name="email" id="email"></label>
            <input type="submit" name="submit" value="Update">
    
</body>
</html>