<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3><a href="/logout">Log out</a> | <a href="/travel">Home</a></h3>
    <h4 class="container">Hello, {{user.username}} </h4>
    <div class="container row">
        {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <form action="/show" class="col s12" method="POST">
                <div class="">
                {% csrf_token %}
                <textarea name="destination"></textarea>
                <textarea name="description"></textarea>
                <label for="textarea3">Travel Date From</label>
                <input name="start" id="textarea3" type="date" placeholder="Travel Date From~">
                <label>Travel Date To</label>
                <input name="end" type="date" placeholder="Travel Date To">
                <button type="submit" class="btn">Add</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>