<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Sign up to be a Hero!!!!</h1>
     <form action="/process" method="post">
        <div class="form-group">
                <label for="name">First name</label>
                <input type="text" name="fname">
                <label for="name">Last Name</label>
                <input type="text" name="lname" id="lname">
                <label for="name">Social Security</label>
                <input type="text" name="ss" id="ss">
                <label for="bank">Bank Account Number</label>
                <input type="text" name="bank" id="bank">
                <button>Click to Submit</button>
        </div>
    </form>
</body>
</html>