<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>To Register to Become a Ninja:</h1>
    <h2>Fill Out this form:</h2>
    <form action="form">
        <label for="fname">First Name</label>
        <input type="text" name="First name">
        
        <label for="lname">Last Name</label>
        <input type="text" name="Last name">
        <br> <br>
        <label for="address">Address</label>
        <input type="text" name="address">   
        <label for="phone">Phone Number</label>
        <input type="text" name="phone number">
    </form>
</body>
</html>