<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div id='dash' class='col-sm-1 col-sm-offser-9'>
                <h2><a href="/friends">Home</a></h2>
            </div>
            <div class='col-sm-1'>
                <h2><a href="/logout">Logout</a></h2>
            </div>
        </div>
        <h3>{{user.alias}}'s Profile</h3>
        <h4>Name: {{user.name}}</h4>
        <h4>Email: {{user.email}}</h4>

    </div>

    
</body>
</html>