<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">    
    
</head>
<body>
    <!-- <p><a href="/travel">Home</a> | <a href="{% url 'travel:add' %}">Add Travel</a> | <a href="/logout">Logout</a></p>
    <h1><strong>User Alias: </strong>{{user.alias}}</h1>
    <h2><strong>Name: </strong> {{user.name}}</h2> 
    <h2><strong>Username: </strong> {{user.username}}</h2> 
    <h2><strong>Total Reviews: </strong> {{user.reviews_left.all.count}}</h2>
    <hr>
    <h1>Posted Reviews on the Folowing Books</h1>
    {% for book in unique_book_reviews %}
    <h3><a href="/travel/{{travel.id}}">{{book.title}}</a></h3>
    {% endfor %}
</body> -->
</html>